# 1. 데이터분석 및 시각화 개요


## 1.1. 판다스 라이브러리란?


1.   데이터 분석을 위한 Python의 라이브러리
2.   특히 시계열 데이터를 다루는 것과 연산이 뛰어나다
3. **데이터프레임**과 **시리즈**라는 자료형을 이용해 표데이터를 다룰 수 있게 해준다

> 판다스 = Python의 엑셀

## 1.2. 데이터프레임과 시리즈

### 1.2.1. 데이터프레임과 시리즈란 무엇인가?
<img src=https://i.ibb.co/b1kHDjH/ppt01.jpg, width=600>

> **데이터프레임**과 **시리즈**는 판다스에서
다루는 핵심 자료형이다.

*   2차원 표 데이터가 데이터프레임이고 1차원 표 데이터가 시리즈이다

* 표의 데이터부분을 values 라고 한다

* 표에서의 행이름을 index라고 한다

* 표에서의 열이름을 columns라고 한다

*   데이터프레임은 values, index, columns로 이루어져 있고, 시리즈는 values와 index로 이루어져 있다.

* 데이터프레임과 시리즈의 values는 넘파이의 array 기반이다.
    * values는 정확히 행렬의 형태를 띄게 됨. 판다스의 array형태를 띄고 있음. 그래서 넘파이랑 엮어서 쓰는거임

* (semi ⭐) index와 columns는 Index 자료형인데 array와 많은 부분에서 비슷하다.

- 파이썬에서 index는 쉽게, '문자열' 정도로 생각하시면 되어요.

### 1.2.2. 데이터프레임과 시리즈의 특징

* 표 전체에 함수를 적용해 개별요소를 바꾼다.

<img src=https://i.ibb.co/J5RZy9K/ppt02.jpg, width=600>

데이터 프레임 '전체'에 연산을 적용하는 것으로 개별 요소별로 80보다 큰지 여부를 True 또는 False로 반환한다

<br>

* 함수를 적용할 때는 전체가 아닌 '부분'이 필요하다면 키(key)값인 index와 columns를 이용한다

<img src=https://i.ibb.co/dbFkKPy/ppt03.jpg, width=600>

- sort values는 data frame을 정렬해주는 함수임
    - 상단의 df는 이효리의 국어점수가 젤 낮아서 맨 위로 올라온거임

## 1.3. 실습

### 학습 목표
- 데이터프레임을 생성한다. (`pd.DataFrame` 함수)
- 시리즈를 생성한다. (`pd.Series` 함수)
- 각종 속성(attribute)으로 데이터프레임을 확인한다. (`values`, `index`, `columns` 속성)

### 1.3.1 데이터프레임 생성하기

In [6]:
import pandas as pd
data1 = [[67, 93, 91, 88],
         [75, 69, 96, 69],
         [75, 81, 74, 82],
         [96, 65, 84, 66],
         [79, 70, 76, 75],
         [62, 99, 87, 76]]
idx1 = ['송중기', '김나현', '권보아', '박효신', '김범수', '이효리']
col1 = ['국어', '영어', '수학', '과학']
df1 = pd.DataFrame(data1, index=idx1, columns=col1)     # 이 부분이 외워야할 부분, 함수 사용방법 + 안에 들어가는 인자 구조 등
df1

     국어  영어  수학  과학
송중기  67  93  91  88
김나현  75  69  96  69
권보아  75  81  74  82
박효신  96  65  84  66
김범수  79  70  76  75
이효리  62  99  87  76

### 1.3.2 각종 속성(attribute)으로 데이터프레임 확인하기

* 속성은 함수와 비슷하게 약속된 데이터를 반환하지만 인자와 인수를 입력받지 않는다.

* 인자와 인수를 입력받지 않기 때문에
소괄호를 쓰지 않는다

* 대표적인 속성(attribute)은 values, columns, index 이다

* 데이터프레임 뿐만 아니라 시리즈도 values, index 속성으로 확인이 가능하다. (시리즈의 경우 columns는 불가능)

In [7]:
df1.values

array([[67, 93, 91, 88],
       [75, 69, 96, 69],
       [75, 81, 74, 82],
       [96, 65, 84, 66],
       [79, 70, 76, 75],
       [62, 99, 87, 76]], dtype=int64)

In [8]:
# df1.index 의 자료형은 Index
# df1.index 안의 각 셀의 자료형은 object
df1.index

Index(['송중기', '김나현', '권보아', '박효신', '김범수', '이효리'], dtype='object')

In [10]:
# df1.columns 의 자료형은 Index
# df1.columns 안의 각 셀의 자료형은 object
df1.columns

# 가끔 큰 데이터는 컬럼들이 화면에 나타나지 않을때도 있음. 그럴때 이런 함수를 주로 사용

Index(['국어', '영어', '수학', '과학'], dtype='object')

### 1.3.3. 시리즈 생성하기

In [16]:
data_k = [67, 75, 75, 96, 79, 62]
s1 = pd.Series(data_k, index=idx1)  # 얘도 암기
 #index=idx1은 인덱스로 idx1을 사용함을 의미
s1

송중기    67
김나현    75
권보아    75
박효신    96
김범수    79
이효리    62
dtype: int64

In [21]:
# 시리즈도 벡터화 연산을 한다
s1 > 80
# 80점 넘는 애만 true로 리턴하도록, boolean 형식으로 조사함.
# 결과물로 발생된 얘도 하나의 시리즈임
#so,
s2= s1 >80
s2   
# 이렇게도 가능

송중기    False
김나현    False
권보아    False
박효신     True
김범수    False
이효리    False
dtype: bool

- 시리즈도 index와 values 속성을 사용해 각각의 데이터를 리턴받을 수 있다

    (columns 속성은 없다)

In [22]:
s1.index

Index(['송중기', '김나현', '권보아', '박효신', '김범수', '이효리'], dtype='object')

In [24]:
s1.values

array([67, 75, 75, 96, 79, 62], dtype=int64)

## 1.4 연습문제

In [26]:
s1.columns #에러메세지보면, 시리즈는 columns를 쓸수없다는 것을 알 수 잇음

AttributeError: 'Series' object has no attribute 'columns'

### 1.4.1 데이터프레임 만들기 연습문제(1)

- 아래와 같은 데이터프레임을 만들어라   (안보고 짜는 연습하래)

<img src=https://i.ibb.co/kBGCS3z/02.png, width=200>

In [30]:
import pandas as pd
data2 = [[67,93,91],
         [75,69,96],
         [75,81,74],
         [96,65,84]]
idx2=['A','B','C','D']
ccol2=['국어','영어','수학']
d=pd.DataFrame(data2,index=idx2,columns=ccol2)
d

   국어  영어  수학
A  67  93  91
B  75  69  96
C  75  81  74
D  96  65  84

In [32]:
###### 예시 답안 ######
data2 = [[67, 93, 91],[75, 69, 96],
         [75, 81, 74],[96, 65, 84]]
col2 = ['국어', '영어', '수학']
df2 = pd.DataFrame(data2, index=list('ABCD'), columns=col2)
df2

   국어  영어  수학
A  67  93  91
B  75  69  96
C  75  81  74
D  96  65  84

### 1.4.2 데이터프레임 만들기 연습문제(2)

- 아래와 같은 데이터프레임을 만들어라

<img src=https://i.ibb.co/q9DfSz5/03.png, width=200>

In [34]:
data3 = [[0,1,2],
         [3,4,5],
         [6,7,8],
         [9,10,11]]
idx3=[0,1,2,3]
col3=['col1','col2','col3']
d=pd.DataFrame(data3,index=idx3,columns=col3)
d

   col1  col2  col3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11

In [35]:
# 모범답안
data3 = [[ 0,  1,  2], [ 3,  4,  5], [ 6,  7,  8], [ 9, 10, 11]]
pd.DataFrame(data3, columns=['col1', 'col2', 'col3'])

   col1  col2  col3
0     0     1     2
1     3     4     5
2     6     7     8
3     9    10    11

### 1.4.3 데이터프레임 만들기 연습문제(3)
- 아래와 같은 데이터프레임을 만들어라

<img src=https://i.ibb.co/41pYxsy/04.png, width=300>

In [37]:
data4=[['A','B','C'],['A','A','B']]
idx4=['송중기','김나현']
col4=['국어학점','영어학점','수학학점']
d=pd.DataFrame(data4,index=idx4,columns=col4)
d

    국어학점 영어학점 수학학점
송중기    A    B    C
김나현    A    A    B

In [ ]:
data4 = [['A', 'B', 'C'], ['A', 'A', 'B']]
pd.DataFrame(data4, index=['송중기', '김나현'],
             columns=['국어학점', '영어학점', '수학학점'])

## 1.5 마무리

* 다음 질문에 답해보자.

   1. 판다스는 무엇인가
   -> dataframe 연관 라이브러리
   2. 데이터프레임이란? > index, columns, values를 갖고 있는 데이터구조
   3. 시리즈란? -> index와 values로 이루어져 있는 데이터 구죠
   4. 데이터프레임과 시리즈를 만들수 있는가? -> 네
   5. 데이터프레임과 시리즈의 각 요소를 확인할수 있는가? -> 그럼요. '객체.columns' or '객체.index'로 확인할 수 있습니다.

from gpt, 수정된 답변
- 판다스는 무엇인가?
    - 수정된 답변: 판다스(Pandas)는 데이터 분석과 조작을 위한 파이썬 라이브러리로, 주요 자료 구조로 데이터프레임(DataFrame)과 시리즈(Series)를 제공합니다.

- 데이터프레임이란?
    - 수정된 답변: 데이터프레임(DataFrame)은 2차원 형태의 데이터 구조로, 행과 열로 구성되며 각 요소는 인덱스(index), 열(columns), 값(values)을 가집니다.

- 시리즈란?
    - 수정된 답변: 시리즈(Series)는 1차원 데이터 구조로, 인덱스(index)와 값(values)으로 이루어져 있으며, 데이터프레임의 한 열을 구성할 수 있습니다.

- 데이터프레임과 시리즈를 만들 수 있는가?
    - 수정 필요 없음: 네, 데이터프레임과 시리즈를 만들 수 있습니다.

- 데이터프레임과 시리즈의 각 요소를 확인할 수 있는가?
    - 수정된 답변: 네, 데이터프레임의 열 이름은 객체.columns, 인덱스는 객체.index로 확인할 수 있습니다. 시리즈도 마찬가지로 객체.index로 인덱스를, 객체.values로 값을 확인할 수 있습니다.

### 1.6. 참고문헌


   1.   판다스 공식문서 `pd.DataFrame`

   [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html)

   2.   판다스 공식문서 `pd.Series`

   [https://pandas.pydata.org/docs/reference/api/pandas.Series.html](https://pandas.pydata.org/docs/reference/api/pandas.Series.html)